* {
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;
	font-family: 'Amatic SC', cursive;
}

h1, h2 {
	margin: 20px 0 10px 0;
}

h2 {
	font-size: 30px;
}

.netflix {
	color: rgb(218,25,33);
	transition: all 0.3s linear;
}

.stan {
	color: rgb(0, 115, 255);
	transition: all 0.3s linear;
}

main {
	display: flex;
}

header {
	text-align: center;
}

header img,
.choose-service img {
	width: 200px;
	height: auto;
	padding: 0 30px;
}

.player-headings {
	display: flex;
	justify-content: space-between;
	padding: 0 30px;
}

.player {
	width: 30%;
	height: 100px;
}

.game-board {
	height: 450px;
	width: 40%;
}

.row {
	display: flex;
	width: 100%;
	height: 150px;
}

.square {
	height: 100%;
	width: 33%;
	background-image: url("images/static.jpeg");
	border: 5px black solid;
	border-radius: 20px;
	display: flex;
	align-items: center;
}

.square img {
	width: 95%;
	margin: 0 auto;
}

footer {
	text-align: center;
}

a {
	text-decoration: none;
	color: white;
	font-size: 30px;
}

footer a:hover {
	text-decoration: underline;
	font-size: 40px;
}

/* classes used in events */

.chosen-netflix {
	background-color: rgba(218,25,33,.80);
	background-image: none;
}

.chosen-stan {
	background-color: rgba(0, 115, 255,.80);
	background-image: none;
}

#player-netflix p,
#player-stan p {
	transition: all 0.2s linear;
	color: black;
	margin: 0 auto;
	font-size: 60px;
	font-weight: 800;
	border-radius: 10px;
}

#player-netflix p {
	text-align: right;
}

#player-netflix,
#player-stan {
	display: flex;
	flex-direction: column;
}

#player-netflix.your-turn p {
	background-color: rgb(218,25,33);
	padding: 10px;
}

#player-stan.your-turn p {
	background-color: rgb(0, 115, 255);
	padding:10px;
}

.wins-netflix, 
.wins-stan {
	font-size: 50px;
	margin-bottom: 60px;
}

.wins-netflix {
	color: rgb(218,25,33);
	text-align: right;
}

.wins-stan {
	color: rgb(0, 115, 255);
}

.win-screen-netflix div, 
.win-screen-stan div,
.choose-service div,
.draw-screen div,
.three-wins-netflix div,
.three-wins-stan div {
	height: 100%;
	width: 100%;
	z-index: 1;
	position: absolute;
	font-size: 50px;
	text-align: center;
}

.win-screen-netflix div, 
.three-wins-netflix div {
	background-color: rgba(218,25,33,.98);
}

.win-screen-stan div,
.three-wins-stan div {
	background-color: rgba(0, 115, 255,.98);
}

.three-wins-netflix div, 
.three-wins-stan div {
	font-weight: 800;
	font-size: 80px;
	padding-top: 50px;
}

.three-wins-netflix img,
.three-wins-stan img {
	width: 10%;
	height: auto;
}

.three-wins-stan p,
.three-wins-netflix p {
	margin: 0;
}

.choose-service div {
	background-color: white;
	color: black;
	font-weight: 800;
	padding-top: 100px;
}

.draw-screen div {
	background-color: #ff4f51;
	font-weight: 800;
	padding-bottom: 100px;
}

.win-screen-stan img,
.win-screen-netflix img,
.draw-screen .thrones {
	width: 500px;
	height: auto;
	border: 3px solid white;
}

.foxtel-logo {
	width: 150px;
	height: auto;
}

.hidden {
	display: none;
}

.restart p {
	font-size: 40px;
	text-align: center;
	margin: 0 auto;
	width: 33%;
}

.restart p:hover,
.draw p:hover {
	border-bottom: 4px solid white;
	font-size: 70px;
}

.purchase a:hover {
	font-size: 50px;
}

.choose-service img:hover {
	width: 300px;
	height: auto;
}

.wins-stan span,
.wins-netflix span {
	font-size: 70px;
}




